*, *::before, *::after {
  // outline: solid 1px;
}
.eng-font {
  font-family: "Newsreader", sans-serif;
}
img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  display: inline-block;
  text-decoration: none;
}

h1,h2,h3,h4,h5,h6 {
  letter-spacing: 0.1em;
  line-height: 1.2;    
  margin-bottom: 0;
}

p {
  letter-spacing: 0.05em;
  margin-bottom: 0;
}
ul{
  margin-bottom: 0;
}