<footer>
  <div class="container">
    <div class="py-5 text-center fs-lg-7 fs-8 border-top border-gray-300 text-primary-400 fw-600">
      ©Vivre 2024 All right Reserved
    </div>
  </div>
</footer>