<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
      <section>
        <div class="container py-lg-10 py-8 px-0">
          <div class="d-lg-flex d-block text-center">
            <p class="me-auto fs-lg-2 fs-4 fw-bold">想看什麼主題由你決定！</p>
            <div class="text-lg-end text-center">
              <p class="fs-lg-4 fs-5 fw-bold mb-lg-3 mb-6">歡迎投稿與我們分享</p>
              <a href="#" class="btn btn-secondary-200 text-white rounded-pill py-lg-3 px-lg-5 py-2 px-4 fs-lg-5 fs-7">聯絡我們</a>
            </div>
          </div>
        </div>
      </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
