<!DOCTYPE html>
<html lang="zh-TW">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>註冊頁</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6 col-md-8 form px-lg-2 px-0">
          <form class="bg-white p-lg-7 p-5 border border-primary-300">
            <div class="pe-lg-3 pe-0">
              <h2 class="text-secondary-200 fs-4 mb-lg-7 mb-5 fw-900">註冊</h2>
              <div class="mb-3">
                <label for="account" class="form-label text-gray-500 fw-bold mb-lg-2 mb-1">會員帳號</label>
                <input type="text" class="form-control form-control-lg border-0" id="account" aria-describedby="emailHelp" placeholder="請輸入會員帳號">
              </div>
              <div class="mb-3">
                <label for="passwd" class="form-label text-gray-500 fw-bold mb-lg-2 mb-1">密碼</label>
                <input type="password" class="form-control form-control-lg border-0" id="passwd" placeholder="請輸入密碼">
              </div>
              <div class="mb-lg-7 mb-5">
                <label for="email" class="form-label text-gray-500 fw-bold mb-lg-2 mb-1">電子信箱</label>
                <input type="email" class="form-control form-control-lg border-0" id="email" aria-describedby="emailHelp" placeholder="請輸入電子信箱">
              </div>
              <button type="submit" class="d-flex align-items-center justify-content-center btn btn-secondary-200 w-100 rounded-pill py-2 text-white mb-lg-7 mb-5">
                <span class="fw-bold" style="line-height: 1.92;">立即註冊</span>
                <i class="bi bi-arrow-right fs-5 ms-2"></i>
              </button>
            </div>

            <div class="position-relative py-2 mb-lg-7 mb-5 text-gray-300">
              <hr class="text-gray-200 opacity-100 m-0">
              <span class="position-absolute top-50 start-50 translate-middle bg-white px-2">或以其他方式註冊</span>
            </div>
            <div class="pe-lg-3 pe-0">
              <button type="button" class="d-flex align-items-center justify-content-center btn btn-light w-100 fw-bold rounded-pill py-2 mb-1">
                <img class="me-2" src="../assets/images/icons-google.png" alt="googleicon">
                <span style="line-height: 1.92;">使用 Google 註冊</span>
              </button>
              <button type="button" class="d-flex align-items-center justify-content-center btn btn-light w-100 fw-bold rounded-pill py-2  mb-lg-7 mb-5">
                <img class="me-2" src="../assets/images/icons-facebook.png" alt="fbicon">
                <span style="line-height: 1.92;">使用 Facebook 註冊</span>
              </button>
            </div>
            <div class="text-center">
              <span class="me-2 fw-600">已經是會員了？ </span>
                <a href="./login.html" class="link-secondary-200 fw-600">點此登入</a>
            </div>
          </form>
        </div>
      </div>
    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
